@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  text-align: center;
  box-sizing: none;
  background-image: linear-gradient(to top left, #71b0f8 0%, #072a47 100%);

  color: white;
  height: 100vh;
}

h3 {
  color: #f0a31fb4;
}

.main-container {
  display: flex;
  justify-content: center;
}

.label {
  font-size: 2rem;
}

#currencies {
  font-size: 1.5rem;
  border-radius: 3rem;
}

.container {
  padding: 5% 5%;
}

.borders {
  border: 1px solid;
}

.Color-For-Groups {
  color: #cbaf87;
}
